@use 'variables' as vars;
@use 'mixins' as mixins;

.btn {
  @include mixins.button-base;
}

.btn-primary {
  background-color: vars.$color-primary-600;
  color: vars.$color-white;

  &:hover:not(:disabled) {
    background-color: vars.$color-primary-500;
  }

  &:active:not(:disabled) {
    background-color: vars.$color-primary-700;
  }
}

.btn-secondary {
  background-color: vars.$color-gray-200;
  color: vars.$color-gray-700;

  &:hover:not(:disabled) {
    background-color: vars.$color-gray-300;
  }
}

.btn-danger {
  background-color: vars.$color-red-600;
  color: vars.$color-white;

  &:hover:not(:disabled) {
    background-color: vars.$color-red-700;
  }
}

.btn-ghost {
  background-color: transparent;
  color: vars.$color-primary-600;

  &:hover:not(:disabled) {
    background-color: vars.$color-primary-50;
  }
}

.btn-sm {
  padding: vars.$space-1 vars.$space-3;
  font-size: vars.$font-size-xs;
}

.btn-lg {
  padding: vars.$space-3 vars.$space-6;
  font-size: vars.$font-size-base;
}

.btn-block {
  width: 100%;
}
