@use 'variables' as vars;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
  line-height: vars.$line-height-normal;
  color: vars.$color-gray-900;
  background-color: vars.$color-gray-50;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
